/* Default light mode styles */
body {
  background-color: #fff;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: lightgray;
}
