body {
  background-color: #fff;
  color: #333;
}

.mt-3 {
  color: #2f3740;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  color: #000;
  background-color: #e2e3e5;
  border-radius: 5px;
  border: 1px solid #2f3740;
}

.custom-select {
  border-radius: 5px !important;
}
.input-group-text {
  border-radius: 5px !important;
  color: #fff;
  background-color: #2f3740;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #e2e3e5;
}

.table.allocation tbody tr td,
.table.allocation tbody tr th {
  border: 1px solid #2f3740;
}

.container,
.navbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  color: #000;
  padding-bottom: 10px;
}

.navbar {
  background-color: #252c33;
  color: #fff;
  top: 0;
  left: 0;
}

.container {
  position: relative;
}

.container .logo {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.container .logo img {
  width: 55px;
  padding-top: 10px;
}

.container .logo h1 {
  padding-left: 6px;
}

.container .content {
  padding-top: 110px;
}

.container .divider {
  height: 1px;
  background-color: #2f3740;
  margin: 10px 0;
  margin-bottom: 30px;
}

.container .row {
  margin-top: 30px;
  margin-bottom: 0px;
}
