body {
  background-color: #fff;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.table.allocation tbody tr td,
.table.allocation tbody tr th {
  border: none;
}

.container,
.navbar {
  position: fixed;
  left: 20px;
  width: 100%;
  background-color: #fff;
  color: #000;
  padding-bottom: 10px;
}

.navbar {
  background-color: #212529;
  color: #fff;
  top: 0;
  left: 0;
}

.container .logo {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.container .logo img {
  width: 55px;
  padding-top: 10px;
}

.container .logo h1 {
  padding-left: 6px;
}

.container .content {
  padding-top: 100px;
}

.container .divider {
  height: 1px;
  background-color: #212529;
  margin: 20px 0;
}

.container .row {
  margin-top: 20px;
  margin-bottom: -15px;
}
